	<footer class="page-footer">
		
		<!-- WIDGET AREA -->
		<div class="widgets">
		
			<!-- FIRST ROW -->
			<div class="section">
				<div class="container">
					<div class="row">
						
						<div class="col-xs-12 col-sm-6 col-md-3">
							<section class="widget widget-text">
								<h5 class="widget-title">玖樂酒名酒品鉴馆</h5>
								<div class="widget-content">
									<p>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									酒樂玖名酒品鉴馆是以酒文化为主题的私家菜品鉴馆，独特的设计理念和个性的装修风格融为一体，紧靠汾河岸边，夜间美景尽现眼前，红酒主题馆和汾河景观的结合尽显优雅浪漫，白酒主题馆与传统酒文化结合尽显端庄大气，老酒主题尽显中国白酒文化历史，私家菜以家主题为核心，让你感受家的味道。
									</p>
									<p>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									尊贵生活新体验，尽在酒樂玖名酒品鉴馆！【私家菜+白酒私人定制+高端红酒】【喝茶+咖啡+麻将，全部免费】欢迎各位光临！
									</p>
								</div>
							</section>
						</div>
						
					
					
					</div>
				</div>
			</div>
			<!-- // FIRST ROW -->
			
			<!-- SECOND ROW -->
			<div class="section">
				<div class="container">
					<div class="row">
						
						<div class="col-xs-12 col-sm-12 col-md-3">
							<section class="widget widget-menu">
								<h5 class="widget-title">联系我们</h5>
								<div class="widget-content">
									<ul class="menu iconed-list unstyled">
										<li>
											<span class="list-icon"><i class="round-icon iconfont-map-marker"></i></span>
											<div class="list-content">山西省太原市小店区长风街华德中心广场B座1909</div>
										</li>
										<li>
											<span class="list-icon"><i class="round-icon iconfont-phone"></i></span>
											<div class="list-content">0351-2571039<br/>
											18635581251</div>
										</li>
										<li>
											<span class="list-icon"><i class="round-icon iconfont-envelope-alt"></i></span>
											<div class="list-content">jiu_yue_jiu@163.com</div>
										</li>
									</ul>
								</div>
							</section>
						</div>
					
						
					
						
					</div>
				</div>
			</div>
			<!-- // SECOND ROW -->
			
		</div>
		<!-- // WIDGET AREA -->
		
	
		
	</footer>